---
import { Image } from 'astro:assets';
import { headerData } from '~/navigation'; // Importa los links del menú

const { links = [] } = headerData;
---
<header class="sticky top-0 z-40 flex-none mx-auto w-full bg-white dark:bg-slate-900 border-b border-gray-200 dark:border-gray-800">
    <div class="py-3 px-4 mx-auto max-w-7xl">
        <div class="flex justify-between items-center">
            <a class="flex items-center" href="/">
                <Image src={'~/assets/images/logo.png'} alt="Apex Data Labs Logo" width={40} height={40} class="mr-2" />
                <span class="self-center text-xl font-bold whitespace-nowrap dark:text-white">
                    Apex Data Labs
                </span>
            </a>

            <nav class="hidden md:flex">
                <ul class="flex items-center space-x-6">
                    {links.map(link => (
                        <li>
                            <a href={link.href} class="text-gray-600 dark:text-gray-300 hover:text-blue-600">{link.text}</a>
                        </li>
                    ))}
                </ul>
            </nav>
        </div>
    </div>
</header>