---
// src/layouts/Layout.astro
import '~/assets/styles/tailwind.css';

import { I18N } from 'astrowind:config';

import Header from '~/components/widgets/Header.astro'; // ADDED
import Footer from '~/components/widgets/Footer.astro'; // ADDED
import CommonMeta from '~/components/common/CommonMeta.astro';
import Favicons from '~/components/Favicons.astro';
import CustomStyles from '~/components/CustomStyles.astro';
import ApplyColorMode from '~/components/common/ApplyColorMode.astro';
import Metadata from '~/components/common/Metadata.astro';
import BasicScripts from '~/components/common/BasicScripts.astro';

import { headerData, footerData } from '~/navigation'; // ADDED
import type { MetaData as MetaDataType } from '~/types';

export interface Props {
  metadata?: MetaDataType;
}

const { metadata = {} } = Astro.props;
const { language, textDirection } = I18N;
---

<!doctype html>
<html lang={language} dir={textDirection} class="2xl:text-[20px]">
  <head>
    <CommonMeta />
    <Favicons />
    <CustomStyles />
    <ApplyColorMode />
    <Metadata {...metadata} />
    <meta charset="utf-8" />
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css" integrity="sha384-GvrOXuhMATgEsSwCs4smul74iXGOixntILdUW9XmUC6+HX0sLNAK3q71HotJqlAn" crossorigin="anonymous">
  </head>

  <body class="antialiased text-default bg-page tracking-tight">
    <Header {...headerData} isSticky showRssFeed showToggleTheme />

    <main>
      <slot />
    </main>

    <Footer {...footerData} />

    <BasicScripts />
  </body>
</html>